body{   
    background-color: darkorange;
}
ol{ 
    background-color: darkorchid;
    width: 50%;
    height: 70px;
    overflow: auto;
}
.two{ position: absolute;
     background-color: darkseagreen;
    
     z-index: -1;}
    ol{ list-style: circle;
}